@import "tailwindcss";

button{

   @apply border border-black rounded font-serif enabled:hover:bg-blue-600 enabled:active:bg-gray-600 enabled:bg-blue-200;
}

button:disabled{
   @apply text-red-600  border-red-600;
}

input {
   @apply border font-serif;

}

input:disabled{
   @apply border-red-600;
}

select{
   @apply border rounded bg-blue-100 font-serif;
}