@import "tailwindcss";

button:enabled{

   @apply border border-black rounded font-serif hover:bg-blue-600 active:bg-gray-600 bg-blue-100;
}

button:disabled{
   @apply border text-red-600  border-red-600;
}

input {
   @apply border font-serif;
   
   &[type = "file"]{
      @apply bg-blue-100;
   }

}

input:disabled{
   @apply border-red-600;
}

select{
   @apply border rounded bg-blue-100 font-serif;
}